.carrossel__titulo{
    background-color: var(--cor-branco);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-laranja);
    padding: 1em 0 0.5em 0;    
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-prev, 
.swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}
.card{
    margin: 1em;
    padding: 1em;
    background-color: var(--cor-branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.card__descrição{
    display: flex;
    justify-content: space-between;
    gap:1em
    
}
.botoes{
    display: flex;

}
.card__botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descrição__titulo{
    color: var(--cor-laranja);
    font-weight: 700;
    margin-bottom: 0.5em;
}
.descrição__titulo-livro{
    margin: 1em 1em 1em 0;
    color: var(--cor-azul);
    font-size: 18px;
    font-weight: 700;
}

.container__descrição{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-branco);
    padding-bottom: 1em;
}
.estrela {
    color: var(--cor-laranja);
    font-weight: 700;
}

.conteiner__visitados{
    background:var(--gradiente);
    padding: 1em;
    
    
    
}
.container__nome_3{
    text-align: center;
    font-weight: 300;
    color: var(--cor-branco);
    padding: 2em;
}
.topico__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.7em;
    

}
.item__colmn{
    color: var(--cor-branco);
    background-color: var(--cor-laranja);
    padding: 1em 1.5em;
    text-decoration: none;
}
.topico__item{
    font-size: 14px;
    font-weight: none;
        
    display: flex;
    justify-content: space-around;
    align-items:center;
    text-align: center;
}

.conteiner__cadastro{
    padding: 1em 1em 2em 1em; 
    background-color: var(--cor-branco);  
}
.descrição_3{
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-azul);
}
.descrição__texto_3{
    font-size: 16px;
    font-weight: 300;
    padding: 1em 0;
}
.banner__pesquisa1{
    border-radius: 25px;
    width: 90%;
    height: 2.5em;
    
}
.banner__pesquisa1::placeholder{
    font-family: var(--font-principal);
    color: var(--cor-azul);
    padding-left: 4em;
    background: url("../img/Email.svg")no-repeat;
    background-position: 2em;
    
    
}
.container__footer{
    background-color: var(--cor-branco);
    padding: 1EM;
    border-top: 0.1px solid black;
}
.CONTAINER__FOOTER_1024{
    display: none;
}

 /*carrocel start*/

@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 26px;
    }
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }
    .swiper{
        width: 60%;   
    }
    .swiper-button-prev, 
    .swiper-button-next{
    display: block;
    }
    .card{
        width: 40%;
        margin: 2em auto;
    }

}/*carrocel start*/
/* topico start*/

@media screen and (min-width: 1024px){
    .container__descrição{
        font-size: 24px;
    }
    .topico__item{
        font-size: 24PX;
    }

}

/*topico end */
@media screen and (min-width: 1024px){
    .conteiner__cadastro{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4em 8em;
        gap: 2em;
    
    }
    .descrição_3{
        font-size: 24px;
    }
    .banner__pesquisa3{
        width: 40%;
        height: 10%;
            
    }
    .banner__pesquisa1{
        width: 35%;
    }
    
}/*pesquisa*/

/*footer*/

@media screen and (min-width: 1024px){
    .container__footer{
    display: none;
    }
    .container__footer_1024{
        display: flex;
        
        
        
    }    
    .footer{
        display: flex;
        justify-content: space-around;
        gap: 35px;
        margin: 4em 1em;
        
        
    }
    .container__footer-1024{
        display: flex;
        gap: 4em;
        
        
    }
    .lista__footer{
        display: flex;
        padding-top: 1em;
        
        
    }
    .lista__footer a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color:#474646;
        gap: 0.5em;
    }
    .CONTAINER__FOOTER_1024{
        display: block;
    }
    .container__footer-barra{
        border-left: 1px solid rgb(207, 207, 207);
        padding-left: 1em;
    }
}
@media screen and (min-width: 1728px) {
    .carrossel__container{
        display: flex;
    }
    
}